@page "Products"
@using AdminUI.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminUI.Pages.ProductsListModel

<form method="get" id="paging-form">
    <select id="category-selector" asp-for="CategoryId" class="form-select">
        <option value="Model.CategoryId" selected>@(Model.Categories.FirstOrDefault(x => x.Id == Model.CategoryId)?.Name ?? "Категория не выбрана")</option>
        @foreach (var category in Model.Categories)
        {
            if (Model.CategoryId == category.Id)
            {
                continue;
            }
            <option value="@category.Id">@category.Name</option>
        }
    </select>


    <nav aria-label="Page navigation" class="mt-5">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li page="@i" class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <span class="page-link">@i</span>
                </li>
            }
        </ul>
    </nav>
    <input hidden="hidden" asp-for="CurrentPage" id="input-currentPage">
    <input hidden="hidden" asp-for="PageSize" id="input-pageSize" value="10">
</form>

<table class="table">
    <thead>
    <th>
        @Html.DisplayNameFor(x => x.ProductsList[0].Id)
    </th>
    <th>
        @Html.DisplayNameFor(x => x.ProductsList[0].Name)
    </th>
    <th>
        @Html.DisplayNameFor(x => x.ProductsList[0].Price)
    </th>
    <th>
        @Html.DisplayNameFor(x => x.ProductsList[0].CategoryName)
    </th>
    </thead>
    @for (var i = 0; i < Model.ProductsList.Count; i++)
    {
        var product = Model.ProductsList[i];
        var j = i;

        <form method="post" enctype="multipart/form-data">
            <tr>
                <input type="hidden" asp-for="CurrentPage" value="@Model.CurrentPage">
                <td class="col">
                    @Html.DisplayFor(x => x.ProductsList[j].Id)
                    <input type="hidden" asp-for="CategoryId" value="@product.Id">
                </td>
                <td class="col">
                    <input type="text" asp-for="Name" value="@product.Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </td>
                <td class="col">
                    <input type="text" asp-for="Name" value="@product.Price" class="form-control">
                </td>
                <td class="col">
                    @Html.DisplayFor(x => x.ProductsList[j].CategoryName)
                </td>
                <td class="col-1">
                    @* <div class="accordion__icon toggled" btn btn-primary> *@
                    <button id="collapse-button" class="btn btn-primary accordion__icon toggled" type="button" data-bs-toggle="collapse" href="#collapse-items-@j" aria-expanded="false" aria-controls="collapse-items-@j">
                        <img src="/images/arrow.svg" alt="">
                    </button>
                    @* </div> *@
                </td>
                <td class="col-1">
                    <button class="btn btn-outline-secondary" type="submit">Сохранить</button>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="collapse" id="collapse-items-@j">
                        <div class="d-flex flex-column">
                            @* <div class="row"> *@
                            @*     <div class="collapse" id="collapse-items-@j"> *@
                            @*         <div class="card card-body"> *@
                            @*             Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger. *@
                            @*         </div> *@
                            @*     </div> *@
                            @* </div> *@
                            <div class="">
                                <input type="file" asp-for="PhotoFile" class="form-control oi-file">
                                <image src="@PhotoHelpers.GetPhotoUrl(Model.ProductsList[j].MainPhotoId ?? default)" width="400px" height="400px"></image>
                                <input type="text" hidden="hidden" asp-for="MainPhotoId" value="@product.MainPhotoId">
                            </div>
                            <div class="">
                                <label for="description-input-@j" class="form-label">Описание</label>
                                <input type="text" asp-for="Name" value="@product.Description" class="form-control" id="description-input-@j">
                            </div>
                            <div class="">
                                <label for="composition-input-@j" class="form-label">Состав</label>
                                <input type="text" asp-for="Composition" value="@product.Composition" class="form-control" id="composition-input-@j">
                            </div>
                            <div class="">
                                <label for="weight-input-@j" class="form-label">Вес</label>
                                <input type="text" asp-for="Weight" value="@product.Weight" class="form-control" id="weight-input-@j">
                            </div>
                            <div class="">
                                <label for="width-input-@j" class="form-label">Ширина</label>
                                <input type="text" asp-for="Width" value="@product.Width" class="form-control" id="width-input-@j">
                            </div>
                            <div class="">
                                <label for="height-input-@j" class="form-label">Высота</label>
                                <input type="text" asp-for="Height" value="@product.Height" class="form-control" id="height-input-@j">
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </form>
    }
</table>

<script src="/js/products.js" defer asp-append-version="true"></script>
@section Styles {
    <link href="@Url.Content("~/css/products.css")" rel="stylesheet" type="text/css" />
}