@page "Products"
@using AdminUI.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdminUI.Pages.ProductsListModel

<form method="get" id="paging-form">
    <span class="fs-2">Категория</span>
    <select id="category-selector" asp-for="CategoryId" class="form-select">
        <option value="Model.CategoryId" selected>@(Model.Categories.FirstOrDefault(x => x.Id == Model.CategoryId)?.Name ?? "Категория не выбрана")</option>
        @foreach (var category in Model.Categories)
        {
            if (Model.CategoryId == category.Id)
            {
                continue;
            }
            <option value="@category.Id">@category.Name</option>
        }
    </select>

    <nav aria-label="Page navigation" class="mt-5">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li page="@i" class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <span class="page-link">@i</span>
                </li>
            }
        </ul>
    </nav>
    <input hidden="hidden" asp-for="CurrentPage" id="input-currentPage">
    <input hidden="hidden" asp-for="PageSize" id="input-pageSize" value="10">
</form>

<table class="table">
    <thead>
    <th>
        @Html.DisplayNameFor(x => x.ProductsList[0].Id)
    </th>
    <th>
        @Html.DisplayNameFor(x => x.ProductsList[0].Name)
    </th>
    <th>
        @Html.DisplayNameFor(x => x.ProductsList[0].Price)
    </th>
    <th>
        @Html.DisplayNameFor(x => x.ProductsList[0].CategoryName)
    </th>
    </thead>
    @for (var i = 0; i < Model.ProductsList.Count; i++)
    {
        var product = Model.ProductsList[i];
        var j = i;

        <form method="post" enctype="multipart/form-data">
            <tr>
                <input type="hidden" asp-for="CurrentPage" value="@Model.CurrentPage">
                <td class="col">
                    @Html.DisplayFor(x => x.ProductsList[j].Id)
                    <input type="hidden" asp-for="UpdateProduct.Id" value="@product.Id">
                </td>
                <td class="col">
                    <input type="text" asp-for="UpdateProduct.Name" value="@product.Name" class="form-control">
                    <span asp-validation-for="UpdateProduct.Name" class="text-danger"></span>
                </td>
                <td class="col">
                    <input type="text" asp-for="UpdateProduct.Price" value="@product.Price" class="form-control">
                </td>
                <td class="col">
                    @Html.DisplayFor(x => x.ProductsList[j].CategoryName)
                </td>
                <td class="col-1">
                    <button id="collapse-button" class="btn btn-primary accordion__icon toggled" type="button" data-bs-toggle="collapse" href="#collapse-items-@j" aria-expanded="false" aria-controls="collapse-items-@j">
                        <img src="/images/arrow.svg" alt="">
                    </button>
                    @* </div> *@
                </td>
                <td class="col-1">
                    <button class="btn btn-outline-secondary" type="submit">Сохранить</button>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="collapse" id="collapse-items-@j">
                        <div class="d-flex flex-column">
                            <div class="">
                                <label class="btn btn-outline-primary m-2">Выбрать главное фото
                                    <input type="file"
                                           asp-for="PhotoFile"
                                           id="main-photo-file-@j"
                                           accept="image/*"
                                           class="d-none input-image">
                                </label>
                                <image class="d-block" src="@PhotoHelpers.GetPhotoUrl(Model.ProductsList[j].MainPhotoId ?? default)" width="400px" height="400px"></image>
                                <input type="text" hidden="hidden" asp-for="UpdateProduct.MainPhotoId" value="@product.MainPhotoId">
                            </div>
                            <div class="">
                                <label for="description-input-@j" class="form-label">Описание</label>
                                <input type="text" asp-for="UpdateProduct.Description" value="@product.Description" class="form-control" id="description-input-@j">
                            </div>
                            <div class="">
                                <label for="composition-input-@j" class="form-label">Состав</label>
                                <input type="text" asp-for="UpdateProduct.Composition" value="@product.Composition" class="form-control" id="composition-input-@j">
                            </div>
                            <div class="">
                                <label for="weight-input-@j" class="form-label">Вес</label>
                                <input type="text" asp-for="UpdateProduct.Weight" value="@product.Weight" class="form-control" id="weight-input-@j">
                            </div>
                            <div class="">
                                <label for="width-input-@j" class="form-label">Ширина</label>
                                <input type="text" asp-for="UpdateProduct.Width" value="@product.Width" class="form-control" id="width-input-@j">
                            </div>
                            <div class="">
                                <label for="height-input-@j" class="form-label">Высота</label>
                                <input type="text" asp-for="UpdateProduct.Height" value="@product.Height" class="form-control" id="height-input-@j">
                            </div>
                        </div>
                        
                        <h4>Остальные фотографии</h4>
                        @foreach (var photoId in Model.ProductsList[j].Photos)
                        {
                            <div class="product-photo m-2" id="photo-@photoId.ToString()">
                                <image src="@PhotoHelpers.GetPhotoUrl(photoId)" width="400px" height="400px"></image>

                                <button type="button"
                                        data-photo-id="@photoId"
                                        id="delete-photo-@j"
                                        class="btn btn-sm btn-danger position-absolute top-0 end-0 m-1"
                                        title="Удалить фото">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                        }
                        <label class="btn btn-outline-primary m-2">Добавить фотографию
                            <input type="file"
                                   multiple="multiple"
                                   id="new-photo-file-@j"
                                   data-product-id="@product.Id"
                                   accept="image/*"
                                   class="d-none input-image">
                        </label>
                    </div>
                </td>

            </tr>
        </form>
        
    }
</table>

@* Модальное окно подтверждения удаления *@
<div id="deleteModal" class="modal" style="display:none;">
    <div class="modal-content">
        <p>Вы уверены, что хотите удалить?</p>
        <button class="btn btn-danger m-1" id="confirmDelete">Удалить</button>
        <button class="btn btn-primary m-1" id="cancelDelete">Отмена</button>
    </div>
</div>


@section Scripts
{
    <script src="~/assets/js/inputmask.min.js"></script>
    <script src="~/js/products-page.js" defer asp-append-version="true"></script>
}

@section Styles {
    <link href="@Url.Content("~/css/products.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/bootstrap-icons.css")" rel="stylesheet">
}